* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Altone Regular', 'Arial', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Altone Regular';
    src: url('../FONTS/Altone_Trial_Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Altone Bold';
    src: url('../FONTS/Altone_Trial_Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Altone Italico';
    src: url('../FONTS/Altone_Trial_Oblique.ttf');
}

@font-face {
    font-family: 'Altone Bold Italico';
    src: url('../FONTS/Altone_Trial_BoldOblique.ttf');
}

/* Variáveis para breakpoints */
:root {
    --mobile: 480px;
    --tablet: 768px;
    --laptop: 1024px;
    --desktop: 1200px;
}

/*-------------------------Seções-------------------------*/
#sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    background-color: #E9E9E9;
    padding: 20px 0;
}

#sobreNos::after, #projetos::after {
    content: "";
    width: 75vw;
    height: 60vh;
    border: white 20px solid;
    position: absolute;
    z-index: 0;
}

#sobreNos > *, #projetos > *, #equipe > * {
    position: relative;
    z-index: 1;
    background-color: transparent;
}

/*-------------------------Cabeçalho-------------------------*/
#cabecalho, #cabecalho * {
    background-color: #5593c8;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 20vh;
    min-height: 100px;
    max-height: 150px;
    box-sizing: border-box;
    padding: 0 20px;
}

#cabecalho nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

#cabecalho::after {
    content: "";
    position: absolute;
    bottom: 15px;
    width: 90%;
    height: 9px; 
    background-color: white;
    border-radius: 15px;
}

#cabecalho ul {
    list-style-type: none;
    display: flex;
    gap: 90px;
}

#cabecalho a{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Altone Bold';
    transition: 0.3s;
}

#cabecalho a:hover {
    color: #77FF00;
}

#cabecalho img {
    width: 180px;
    height: auto;
    cursor:default;
}

/*-------------------------Banner-------------------------*/
#bannerOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5593c8;
    opacity: 0.5;
    pointer-events: none;
}

#banner{
    justify-content: space-between;
    background-image: url('./IMG/cenarioInicial.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 0;
    flex-direction: row;
    padding: 40px 20px;
}

#textoBanner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 55%;
    height: 80%;
    margin-left: 100px;
    position: relative;
    z-index: 2;
    background-color: transparent;
    font-size: 25px;
}

#imagemBanner {
    position: relative;
    z-index: 2;
    width: 40%;
    height: 80%;
    background-color: transparent;
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner pre{
    max-width: 95%;
    white-space: normal;
    word-break: break-word;
    font-size: 35px;
}

#banner button{
    margin-top: 15px;
    width: 450px;
    height: 95px;
    border-radius: 100px;
    background-color: #77FF00;
    color: #007A00;
    font-size: 30px;
    font-family: 'Altone Bold';
    cursor: pointer;
    transition: 0.3s;
    border: none;
    position: relative;
    bottom: 0;
    transform: translateX(35%);
    left: 0;
}

#banner button:hover{
    background-color: #007A00;
    color: #77FF00;
}

#imagemBanner img {
    width: 570px;
    height: auto;
    max-width: 100%;
}

/*-------------------------Trailer-------------------------*/
#trailer {
    width: 100vw;
    min-height: 716px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #166439;
    background-image: url('./IMG/estampaSecoes.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-origin: content-box;
    padding: 40px;
    position: relative;
    cursor: default;
}

#trailer::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    border-radius: 30px;
    z-index: 0;
}

#videoTrailer {
    width: 70%;
    height: 70%;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
    background-color: #000;
}

/*-------------------------Como Podemos Ajudar-------------------------*/
#comoPodemosAjudar {
    background-color: #88ba25;
    background-image: url('./IMG/estampaSecoes.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-origin: content-box;
    padding: 40px;
    flex-wrap: wrap;
}

#tituloComoPodemosAjudar {
    font-family: 'Altone Bold';
    font-size: 55px;
    color: white;
}

#textoComoPodemosAjudar{
    margin-left: 90px;
}

#iconGarrafa{
    position: relative;
    width: 400px;
    height: auto;
    left: 65px;
    top: -10px;
    max-width: 100%;
}

/*-------------------------Sobre Nós-------------------------*/
#sobreNos, #projetos{
    background-color: #34af5a;
    flex-wrap: wrap;
}

#sobreNos::after{
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border-left: none;
}

#iconesSobreNos, #iconesSobreNos *{
    background-color: transparent;
}

#iconesSobreNos{
    position: absolute;
    z-index: 1.5;
    width: 100vw;
    height: 111%;
}

#icone1 {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

#icone2 {
    width: 10%;
    height: auto;
    position: absolute;
    right: 70px;
    top: 100px;
    transform: rotate(40deg);
    min-width: 80px;
}

#tituloSobre{
    font-family: 'Altone Bold';
    font-size: 55px;
    color: white;
}

#textoSobreNos{
    margin-left: 55px;
}

#sobreNos::after{
    border: #166439 20px solid;
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    border-left: none;
}

/*-------------------------Projetos-------------------------*/
#projetos {
    justify-content: flex-end;
    text-align: right;
    flex-wrap: wrap;
}

#textoProjetos{
    margin-right: 55px;
}

#projetos::after{
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    right: 0;
    border-right: none;
}

#tituloProjetos{
    list-style-type: none;
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

#novidade{
    font-family: 'Altone Bold';
    font-size: 40px;
    color: #FCEC4F;
    position: relative;
}

#novidade::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 115%;
    height: 105%; 
    z-index: -1;
    background-color: #166439;
    border-radius: 50px;
}

#tituloProjetos{
    font-family: 'Altone Bold';
    font-size: 55px;
    color: #c7eac5;
}

#paragrafo{
    font-size: 35px;
    color: white;
    margin-top: 18px;
    margin-bottom: 30px;
    max-width: 850px;
    white-space: normal;
    word-break: break-word;
    font-family: 'Altone Regular';
}

#btnIrParaJogo{
    margin-top: 15px;
    width: 450px;
    height: 95px;
    border-radius: 100px;
    background-color: #77FF00;
    color: #007A00;
    font-size: 30px;
    font-family: 'Altone Bold';
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    border: none;
    left: 10%;
    top: 50px;
    transform: translateX(-50%);
}

#btnIrParaJogo:hover{
    background-color: #007A00;
    color: #77FF00;
}

/*-------------------------Rodapé-------------------------*/
#rodape, #rodape *{
    box-sizing: border-box;
    background-color: transparent;
}

#rodape{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #88ba25;
    background-size: contain;
    background-origin: content-box;
    padding: 20px;
    background-repeat: no-repeat;
}

#rodape nav{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #166439;
    width: 50vw;
    height: 20vh;
    min-height: 100px;
    border-radius: 100px;
    border: #34af5a 20px solid;
    margin-top: 30px;
}

#rodape ul {
    list-style-type: none;
    display: flex;
    gap: 90px;
    color: #16643a;
    flex-wrap: wrap;
    justify-content: center;
}

#rodape a{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #c7eac5;
    font-family: 'Altone Bold';
    transition: 0.3s;
}

#rodape a:hover {
    color: #000000;
}

#rodape p {
    font-size: 15px;
    color: #16643a;
    margin-top: 25px;
    font-family: 'Altone Regular';
    z-index: 1;
}

#logotipoRodape img{
    width: 250px;
    height: auto;
    z-index: 1;
    position: relative;
    max-width: 100%;
}

#plus{
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

#rodape #infoContatos{
    gap: 15px;
    font-size: 15px;
}

/* ============================================= */
/* MEDIA QUERIES - RESPONSIVIDADE */
/* ============================================= */

/* Tablets (768px - 1024px) */
@media (max-width: 1024px) {
    /* Seções gerais */
    #sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
        height: auto;
        min-height: 80vh;
        padding: 40px 20px;
    }

    /* Cabeçalho */
    #cabecalho {
        height: 15vh;
        min-height: 80px;
    }

    #cabecalho ul {
        gap: 40px;
    }

    #cabecalho a {
        font-size: 18px;
    }

    #cabecalho img {
        width: 150px;
    }

    /* Banner */
    #banner {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    #textoBanner {
        width: 90%;
        margin-left: 0;
        align-items: center;
        margin-bottom: 40px;
    }

    #imagemBanner {
        width: 90%;
        margin-right: 0;
    }

    #banner pre {
        font-size: 28px;
        text-align: center;
    }

    #banner button {
        width: 350px;
        height: 80px;
        font-size: 24px;
        transform: none;
        left: 0;
    }

    /* Trailer */
    #trailer {
        min-height: 500px;
        padding: 30px;
    }

    #videoTrailer {
        width: 85%;
        height: 60%;
    }

    /* Como Podemos Ajudar */
    #comoPodemosAjudar {
        flex-direction: column;
        text-align: center;
    }

    #textoComoPodemosAjudar {
        margin-left: 0;
        margin-bottom: 30px;
    }

    #iconGarrafa {
        left: 0;
        top: 0;
    }

    /* Sobre Nós e Projetos */
    #sobreNos::after, #projetos::after {
        display: none;
    }

    #textoSobreNos, #textoProjetos {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #tituloSobre, #tituloProjetos, #tituloComoPodemosAjudar {
        font-size: 42px;
    }

    #paragrafo {
        font-size: 28px;
    }

    #btnIrParaJogo {
        width: 350px;
        height: 80px;
        font-size: 24px;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Rodapé */
    #rodape nav {
        width: 80vw;
        height: 15vh;
    }

    #rodape ul {
        gap: 40px;
    }
}

/* Mobile Grande (481px - 767px) */
@media (max-width: 767px) {
    /* Seções gerais */
    #sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
        min-height: 70vh;
        padding: 30px 15px;
    }

    /* Cabeçalho */
    #cabecalho {
        height: 12vh;
        min-height: 70px;
        padding: 0 15px;
    }

    #cabecalho nav {
        width: 95%;
    }

    #cabecalho ul {
        gap: 20px;
    }

    #cabecalho a {
        font-size: 16px;
    }

    #cabecalho img {
        width: 120px;
    }

    #cabecalho::after {
        width: 95%;
        height: 6px;
        bottom: 10px;
    }

    /* Banner */
    #textoBanner {
        width: 100%;
        font-size: 20px;
    }

    #banner pre {
        font-size: 22px;
    }

    #banner button {
        width: 280px;
        height: 70px;
        font-size: 20px;
    }

    #imagemBanner img {
        width: 100%;
        max-width: 400px;
    }

    /* Trailer */
    #trailer {
        min-height: 400px;
        padding: 20px;
    }

    #videoTrailer {
        width: 95%;
        height: 50%;
    }

    /* Textos */
    #tituloSobre, #tituloProjetos, #tituloComoPodemosAjudar {
        font-size: 32px;
    }

    #paragrafo {
        font-size: 22px;
    }

    #novidade {
        font-size: 28px;
    }

    /* Ícones */
    #iconGarrafa {
        width: 250px;
    }

    #icone2 {
        width: 15%;
        right: 20px;
        top: 50px;
    }

    /* Botões */
    #btnIrParaJogo {
        width: 280px;
        height: 70px;
        font-size: 20px;
        top: 30px;
    }

    /* Rodapé */
    #rodape nav {
        width: 95vw;
        height: 12vh;
        border-radius: 50px;
        border-width: 10px;
    }

    #rodape ul {
        gap: 20px;
    }

    #rodape a {
        font-size: 16px;
    }

    #logotipoRodape img {
        width: 200px;
    }

    #rodape p {
        font-size: 14px;
    }
}

/* Mobile Pequeno (até 480px) */
@media (max-width: 480px) {
    /* Seções gerais */
    #sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
        min-height: 60vh;
        padding: 20px 10px;
    }

    /* Cabeçalho */
    #cabecalho {
        flex-direction: column;
        height: auto;
        min-height: 100px;
        padding: 10px;
    }

    #cabecalho nav {
        flex-direction: column;
        gap: 15px;
    }

    #cabecalho ul {
        gap: 15px;
        justify-content: center;
    }

    #cabecalho a {
        font-size: 14px;
    }

    #cabecalho img {
        width: 100px;
    }

    #cabecalho::after {
        display: none;
    }

    /* Banner */
    #textoBanner {
        height: auto;
        gap: 20px;
    }

    #banner pre {
        font-size: 18px;
    }

    #banner button {
        width: 250px;
        height: 60px;
        font-size: 18px;
    }

    /* Trailer */
    #trailer {
        min-height: 300px;
        padding: 15px;
    }

    #videoTrailer {
        width: 100%;
        height: 40%;
    }

    /* Textos */
    #tituloSobre, #tituloProjetos, #tituloComoPodemosAjudar {
        font-size: 26px;
    }

    #paragrafo {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #novidade {
        font-size: 22px;
    }

    #tituloProjetos {
        gap: 20px;
        justify-content: center;
    }

    /* Ícones */
    #iconGarrafa {
        width: 200px;
    }

    #icone2 {
        display: none;
    }

    /* Botões */
    #btnIrParaJogo {
        width: 250px;
        height: 60px;
        font-size: 18px;
        top: 20px;
    }

    /* Rodapé */
    #rodape nav {
        width: 100%;
        height: auto;
        min-height: 80px;
        border-radius: 40px;
        padding: 15px;
    }

    #rodape ul {
        gap: 15px;
    }

    #rodape a {
        font-size: 14px;
    }

    #logotipoRodape img {
        width: 150px;
    }

    #rodape p {
        font-size: 12px;
        margin-top: 15px;
    }
}

/* Ajustes para telas muito altas */
@media (min-height: 1000px) and (max-width: 1024px) {
    #sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
        min-height: 50vh;
    }
}

/* Ajustes para orientação landscape em mobile */
@media (max-height: 500px) and (orientation: landscape) {
    #sobreNos, #projetos, #equipe, #rodape, #banner, #comoPodemosAjudar, #servicos {
        min-height: 100vh;
        padding: 20px 10px;
    }
    
    #cabecalho {
        height: 25vh;
    }
    
    #banner {
        flex-direction: row;
    }
    
    #textoBanner {
        width: 50%;
    }
    
    #imagemBanner {
        width: 45%;
    }
}